.tag_hover {
    box-shadow: 10px 10px 10px 10px black;
    cursor: pointer;
}

#toolbar {
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 5px #a3bce350;
    padding: 5px;
}

.rotate-90 {
    transform: rotate(90deg);
}

.tabPanel {
    padding: 10px 15px 20px;
}

.edit-mode-enabled {
    background: red;
}

.absolute-center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}